body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.topSection{
    padding-top: 16px;
    font-size: 64px;
    font-weight: 800;
}

.messageSection{
    font-size: 24px;
}

.scoreSection{
    font-size: 32px;
}

.scoreBoard{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.playerScore, .computerScore{
    padding: 16px;
    border-style: solid;
    border-color: black;
}


.windows{
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.window{
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    margin-bottom: 16px;
}

.inactive{
    display: none;
}

.picture{
    height: 200px;
    width: 200px;
}

.window:hover {
    transform: scale(1.1);
    border-color: cyan;
    box-shadow: 0 0 0.5rem cyan;
}

.window:active{
    transform: scale(0.99);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.windowContainer{
    font-weight: bold;
    font-size: 24px;
}

.computerChoice{
    font-weight: normal;
    color: #F02004;
}

button{
    padding: 8px 32px;
    text-align: center;
    font-size: 20px;
    flex-grow: 0;
    border-radius: 8px;
}

button:hover{
    transform: scale(1.1);
    background-color: cyan;
}

button:active{
    transform: scale(0.99);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.playerScoreUpdate{
    color: turquoise;
    font-weight: bold;
}

.computerScoreUpdate{
    color:#F02004;
    font-weight: bold;
}